<div class="container">
    <h1>{{preview.result.info.name}} - {{preview.result.info.location}}</h1>
    <h3>Blockers/Issues/Questions</h3>
    <div task-list list="preview.result.blockers"></div>

    <h3>Worked on Today</h3>
    <div task-list list="preview.result.today"></div>

    <h3>Planned for Tomorrow</h3>
    <div task-list list="preview.result.tomorrow"></div>

    <a class="btn btn-success" ng-click="preview.sendReport();">Send</a>
    <a class="btn btn-success" ng-click="preview.showCode();">Show Json Code</a>
    <br>
    <div>{{preview.reportContent}}</div>
</div>